.blocklyTreeSelected .blocklyTreeLabel {
    color: var(--light-text-color)
}

.blocklyTreeLabel {
    color: var(--dark-text-color);
}

.blocklyToolboxContents {
    padding: .5em;
}

.blocklyTreeRow {
    margin-bottom: .5em;

    padding: 3px;

    border-radius: 4px;
}
