* {
    margin: 0;
    padding: 0;
}

.light {
  color: var(--light-color);
}

.inline-block {
  display: inline-block;
}

.button {
  display: inline-block;

  margin: 5px;

  padding: 5px;
  border-radius: 5px;

  background-color: var(--gray-bg-color);

  text-decoration: none;

  font-family: "Fira Code";
  font-weight: 600;
  color: var(--full-light-color);
}
.button:hover {
  cursor: pointer;
}
